@charset "utf-8";
/* CSS Document */
/*combobox container*/
.cbb_btn_Container{
	position:absolute;
}

.cbbContainer{
	position:absolute;
	margin-top:83px;
	margin-left:0px;
}
.cbbContainer select{
	width:100px;
}

.cbbContainer2{
	position:absolute;
	margin-top:83px;
	margin-left:280px;
	
}

.cbbContainer3{
	position:absolute;
	margin-top:83px;
	margin-left:450px;
}

.cbbContainer4{
	position:absolute;
	margin-top:83px;
	margin-left:650px;
}
/*combobox*/
.cbb_btn_Container select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #FFFCFC;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.cbb_btn_Container select {padding-right:18px}
}

.cbb_btn_Container label {position:relative}
.cbb_btn_Container label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.cbb_btn_Container label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.btnContainer{
	position:absolute;
	margin-top:82px;
	margin-left:120px;
}
.btnContainer button{
	height:28px;
}

.btnContainer2{
	position:absolute;
	margin-top:-30px;
	margin-left:700px;
}